version: '3.0'
services:
    laptop_mariadb_hcm_bk: #<--TODO EDIT
        image: mariadb:10.4
        container_name: laptop_mariadb_hcm_bk #<--TODO EDIT
        volumes:
            - ./db:/var/lib/mysql
#            - ./mariadb.cnf:/etc/mysql/mariadb.cnf
        environment:
            TZ: "Asia/Ho_Chi_Minh"
            MYSQL_ALLOW_EMPTY_PASSWORD: "no"
            MYSQL_ROOT_PASSWORD: "rootpwd" #<--TODO EDIT
            MYSQL_USER: 'radius' #<--TODO EDIT
            MYSQL_PASSWORD: 'RadiusPass' #<--TODO EDIT
            MYSQL_DATABASE: 'radiusdb' #<--TODO EDIT
        ports:
            - '33063:3306' #<--TODO EDIT
        restart: always
    laptop_radius_hcm_bk:  #<--TODO EDIT
        build:
            context: .
            dockerfile: ./Dockerfile
        container_name: laptop_radius_hcm_bk #<--TODO EDIT
        logging:
           options:
            max-size: "2000m"
            max-file: "3"
        environment:
           TZ: "Asia/Ho_Chi_Minh"
           MYSQL_HOST: "laptop_mariadb_hcm_bk" #<--TODO EDIT
           MYSQL_PORT: "3306"
           MYSQL_DATABASE: "radiusdb"
           MYSQL_USER: "radius"
           MYSQL_PASSWORD: "RadiusPass"
           MYSQL_ROOT_PASSWORD: "rootpwd"
        ports:
            - '8113:80' #<--TODO EDIT
            - '18133:1813/udp' #<--TODO EDIT
            - '18123:1812/udp' #<--TODO EDIT
        depends_on:
            - 'laptop_mariadb_hcm_bk'  #<--TODO EDIT
        volumes:
            - ./freeradius/clients.conf:/etc/freeradius/3.0/clients.conf
            - ./mng-import-users.php:/var/www/html/daloradius/mng-import-users.php
            - ./mng-del.php:/var/www/html/daloradius/mng-del.php
        restart: always
